html,
body {
  margin: 0;
}

.modal-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  /* box-shadow: 24px; */
  padding: 1em;
}
